.card-list{
    display: grid;
    grid-template-columns: repeat(7, minmax(3rem, auto)); /* Auto sizing columns */
    gap:0 1.5rem;
    padding-top:1rem;
    overflow:auto;
    align-items: center;
}

.card-list-header{
    font-weight:bold;
    padding:0.5rem;
}

.card-list-row{
    display: grid;
    grid-template-columns: subgrid; /* New feature, makes row inherit parents grid */
    grid-column: 1 / -1;
    text-decoration: none;
    color:var(--primary-color);
    cursor:default;
    padding:0.5rem;
}

.even{
    background-color: rgba(255, 255, 255,0.4);
}

.odd{
    background-color: rgba(0, 0, 0,0.1);
}
